# Ignore Python cache and virtual environments
__pycache__/
.venv/

# Ignore environment files
.env*

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore Terraform state and local variables
*.tfstate
*.tfstate.backup
*.tfvars
