# IDE and environment files
.idea/
.vscode/
.github/

# Python virtual environment
.venv/

# Environment variables
.env
.env.example

# Python cache
__pycache__/
*.pyc

# Build artifacts
dist/
build/
*.egg-info/

# Node.js dependencies
/ui/node_modules/

# Angular build artifacts and cache
/ui/dist/
/ui/.angular/
