fastapi
celery
gunicorn
werkzeug
requests

# Langchain
langchain
langchain-community
langchain-core
langchain-text-splitters

# Vector Database
fastembed==0.2.7

# LLM
ollama==0.2.1

# Database
mongoengine

# Security and Authentication
flask-security-too
email-validator

# Add redis<4.0 for celery compatibility
redis<4.0
