Flask==3.0.0
Flask-CORS==4.0.1
gunicorn==21.2.0
mongoengine==0.27.0
flask-mongoengine==1.0.0
pymongo==3.12.3
flask-socketio==5.3.6
celery==5.3.6
redis==5.0.1
python-dotenv==1.0.0
langchain==0.1.5
langchain-community==0.0.17
langchain-core==0.1.18
langchain-openai==0.0.5
fastembed==0.2.2
unstructured
pdf2image
pymupdf
sseclient-py==1.8.0
flask-security-too==5.3.3
email-validator==2.1.0.post1
