
<div class="playbook-list-container">
  <h2>Playbooks</h2>
  <button (click)="openPlaybookEditor()">Create New Playbook</button>

  <div *ngIf="playbooks.length > 0; else noPlaybooks">
    <ul>
      <li *ngFor="let playbook of playbooks">
        <span>{{ playbook.name }}</span>
        <div>
          <button (click)="openPlaybookEditor(playbook)">Edit</button>
          <button (click)="deletePlaybook(playbook._id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noPlaybooks>
    <p>No playbooks found.</p>
  </ng-template>
</div>
