<div class="chat-panel-container">
  <div class="messages-container">
    <div *ngFor="let message of messages" class="message" [ngClass]="'message-' + message.sender">
      <div class="message-sender">{{ message.sender }}</div>
      <div class="message-text">{{ message.text }}</div>
      <div class="message-timestamp">{{ message.timestamp | date:'short' }}</div>
    </div>
  </div>
  <div class="input-container">
    <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type your message...">
    <button (click)="sendMessage()">Send</button>
  </div>
</div>